In [ ]:
pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 2.4 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488491 sha256=d065446e8d4c6cb98a4356964bb57b99a3605242378e106611e3f7c3d791517e
  Stored in directory: /root/.cache/pip/wheels/80/1d/60/2c256ed38dddce2fdd93be545214a63e02fbd8d74fb0b7f3a6
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.1

In [ ]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("demo").getOrCreate()

In [ ]:
with open('/content/u.data') as f:
    data = f.readlines()

In [ ]:
# Converta a lista de strings em uma lista de listas de valores
data = [row.split('\t') for row in data]

In [ ]:
# Crie o DataFrame
df = spark.createDataFrame(data,['user_id','movie_id','rating','rating_time'] )

In [ ]:
# Print the DataFrame
df.show()

+-------+--------+------+-----------+
|user_id|movie_id|rating|rating_time|
+-------+--------+------+-----------+
|    196|     242|     3|881250949\n|
|    186|     302|     3|891717742\n|
|     22|     377|     1|878887116\n|
|    244|      51|     2|880606923\n|
|    166|     346|     1|886397596\n|
|    298|     474|     4|884182806\n|
|    115|     265|     2|881171488\n|
|    253|     465|     5|891628467\n|
|    305|     451|     3|886324817\n|
|      6|      86|     3|883603013\n|
|     62|     257|     2|879372434\n|
|    286|    1014|     5|879781125\n|
|    200|     222|     5|876042340\n|
|    210|      40|     3|891035994\n|
|    224|      29|     3|888104457\n|
|    303|     785|     3|879485318\n|
|    122|     387|     5|879270459\n|
|    194|     274|     2|879539794\n|
|    291|    1042|     4|874834944\n|
|    234|    1184|     2|892079237\n|
+-------+--------+------+-----------+
only showing top 20 rows

In [ ]:
# Selecione a tabela user_id e Movie_id
df.select('user_id','movie_id','rating_time').show()

+-------+--------+-----------+
|user_id|movie_id|rating_time|
+-------+--------+-----------+
|    196|     242|881250949\n|
|    186|     302|891717742\n|
|     22|     377|878887116\n|
|    244|      51|880606923\n|
|    166|     346|886397596\n|
|    298|     474|884182806\n|
|    115|     265|881171488\n|
|    253|     465|891628467\n|
|    305|     451|886324817\n|
|      6|      86|883603013\n|
|     62|     257|879372434\n|
|    286|    1014|879781125\n|
|    200|     222|876042340\n|
|    210|      40|891035994\n|
|    224|      29|888104457\n|
|    303|     785|879485318\n|
|    122|     387|879270459\n|
|    194|     274|879539794\n|
|    291|    1042|874834944\n|
|    234|    1184|892079237\n|
+-------+--------+-----------+
only showing top 20 rows

In [ ]:
#biblioteca do spark que faz calculo de media
from pyspark.sql.functions import avg
df.groupBy("user_id").avg().show()

+-------+
|user_id|
+-------+
|    296|
|    467|
|    691|
|    675|
|    125|
|    451|
|    666|
|      7|
|    124|
|     51|
|    447|
|    591|
|    307|
|    475|
|    574|
|    613|
|    718|
|    205|
|    334|
|    169|
+-------+
only showing top 20 rows

In [ ]:
spark.sql("select user_id, avg(rating) from {df} group by user_id", df=df).show()

+-------+------------------+
|user_id|       avg(rating)|
+-------+------------------+
|    296|4.1768707482993195|
|    467|3.6818181818181817|
|    691|           4.21875|
|    675|3.7058823529411766|
|    125|3.4395604395604398|
|    451|2.7346938775510203|
|    666|3.6653061224489796|
|      7| 3.965260545905707|
|    124|               3.5|
|     51|3.5652173913043477|
|    447| 3.597122302158273|
|    591|3.6547619047619047|
|    307| 3.794642857142857|
|    475|               3.6|
|    574|3.5217391304347827|
|    613| 4.321428571428571|
|    718|3.6923076923076925|
|    205|2.8636363636363638|
|    334|3.5195195195195197|
|    169| 3.972972972972973|
+-------+------------------+
only showing top 20 rows

In [ ]:
df.groupBy("rating").count().sort('rating').show()

+------+-----+
|rating|count|
+------+-----+
|     1| 6110|
|     2|11370|
|     3|27145|
|     4|34174|
|     5|21201|
+------+-----+

In [ ]:
df.where(df['rating'] == 5).show()

+-------+--------+------+-----------+
|user_id|movie_id|rating|rating_time|
+-------+--------+------+-----------+
|    253|     465|     5|891628467\n|
|    286|    1014|     5|879781125\n|
|    200|     222|     5|876042340\n|
|    122|     387|     5|879270459\n|
|     38|      95|     5|892430094\n|
|    160|     234|     5|876861185\n|
|    278|     603|     5|891295330\n|
|    287|     327|     5|875333916\n|
|    246|     201|     5|884921594\n|
|    242|    1137|     5|879741196\n|
|    249|     241|     5|879641194\n|
|     99|       4|     5|886519097\n|
|     25|     181|     5|885853415\n|
|     59|     196|     5|888205088\n|
|    290|     143|     5|880474293\n|
|     42|     423|     5|881107687\n|
|    138|      26|     5|879024232\n|
|     60|     427|     5|883326620\n|
|     57|     304|     5|883698581\n|
|    127|     229|     5|884364867\n|
+-------+--------+------+-----------+
only showing top 20 rows

In [ ]:
# Carregar os dados dos bancos
u_data = df.read_csv('/content/u.data')  # Substitua 'caminho/para/u.data' pelo caminho real do seu arquivo u.data
u_item = df.read_csv('/content/u.item')  # Substitua 'caminho/para/u.item' pelo caminho real do seu arquivo u.item

# Listar as tabelas dos dois bancos
print("Tabela u.data:")
print(u_data.head())

print("\nTabela u.item:")
print(u_item.head())

AttributeError: 'DataFrame' object has no attribute 'read_csv'

In [ ]:
# Carregue os dados do arquivo em uma lista
with open('/content/u.item') as f:
    data = f.readlines()

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xe9 in position 2892: invalid continuation byte

In [ ]:
# Carregar os dados do arquivo em uma lista
with open('/content/u.item', encoding='latin-1') as f:
    data = f.readlines()

In [ ]:
# Converta a lista de strings em uma lista de listas de valores
data = [row.split('|') for row in data]

In [ ]:
# Crie o DataFrame
df1 = spark.createDataFrame(data,['id','name','date','x','email'] )

In [ ]:
# Print the DataFrame
df1.show()

+---+--------------------+-----------+---+--------------------+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+
| id|                name|       date|  x|               email| _6| _7| _8| _9|_10|_11|_12|_13|_14|_15|_16|_17|_18|_19|_20|_21|_22|_23|_24|
+---+--------------------+-----------+---+--------------------+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+
|  1|    Toy Story (1995)|01-Jan-1995|   |http://us.imdb.co...|  0|  0|  0|  1|  1|  1|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|0\n|
|  2|    GoldenEye (1995)|01-Jan-1995|   |http://us.imdb.co...|  0|  1|  1|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  1|  0|0\n|
|  3|   Four Rooms (1995)|01-Jan-1995|   |http://us.imdb.co...|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  1|  0|0\n|
|  4|   Get Shorty (1995)|01-Jan-1995|   |http://us.imdb.co...|  0|  1|  0|  0|  0|  1|  0|  0|  1|  0|  0|  0|  0|  0|  0|  0|  0|  0|0\n|
|  5|      Copycat (1995)|01-Jan-1995|   |http://us.imdb.co...|  0|  0|  0|  0|  0|  0|  1|  0|  1|  0|  0|  0|  0|  0|  0|  0|  1|  0|0\n|
|  6|Shanghai Triad (Y...|01-Jan-1995|   |http://us.imdb.co...|  0|  0|  0|  0|  0|  0|  0|  0|  1|  0|  0|  0|  0|  0|  0|  0|  0|  0|0\n|
|  7|Twelve Monkeys (1...|01-Jan-1995|   |http://us.imdb.co...|  0|  0|  0|  0|  0|  0|  0|  0|  1|  0|  0|  0|  0|  0|  0|  1|  0|  0|0\n|
|  8|         Babe (1995)|01-Jan-1995|   |http://us.imdb.co...|  0|  0|  0|  0|  1|  1|  0|  0|  1|  0|  0|  0|  0|  0|  0|  0|  0|  0|0\n|
|  9|Dead Man Walking ...|01-Jan-1995|   |http://us.imdb.co...|  0|  0|  0|  0|  0|  0|  0|  0|  1|  0|  0|  0|  0|  0|  0|  0|  0|  0|0\n|
| 10|  Richard III (1995)|22-Jan-1996|   |http://us.imdb.co...|  0|  0|  0|  0|  0|  0|  0|  0|  1|  0|  0|  0|  0|  0|  0|  0|  0|  1|0\n|
| 11|Seven (Se7en) (1995)|01-Jan-1995|   |http://us.imdb.co...|  0|  0|  0|  0|  0|  0|  1|  0|  0|  0|  0|  0|  0|  0|  0|  0|  1|  0|0\n|
| 12|Usual Suspects, T...|14-Aug-1995|   |http://us.imdb.co...|  0|  0|  0|  0|  0|  0|  1|  0|  0|  0|  0|  0|  0|  0|  0|  0|  1|  0|0\n|
| 13|Mighty Aphrodite ...|30-Oct-1995|   |http://us.imdb.co...|  0|  0|  0|  0|  0|  1|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|0\n|
| 14|  Postino, Il (1994)|01-Jan-1994|   |http://us.imdb.co...|  0|  0|  0|  0|  0|  0|  0|  0|  1|  0|  0|  0|  0|  0|  1|  0|  0|  0|0\n|
| 15|Mr. Holland's Opu...|29-Jan-1996|   |http://us.imdb.co...|  0|  0|  0|  0|  0|  0|  0|  0|  1|  0|  0|  0|  0|  0|  0|  0|  0|  0|0\n|
| 16|French Twist (Gaz...|01-Jan-1995|   |http://us.imdb.co...|  0|  0|  0|  0|  0|  1|  0|  0|  0|  0|  0|  0|  0|  0|  1|  0|  0|  0|0\n|
| 17|From Dusk Till Da...|05-Feb-1996|   |http://us.imdb.co...|  0|  1|  0|  0|  0|  1|  1|  0|  0|  0|  0|  1|  0|  0|  0|  0|  1|  0|0\n|
| 18|White Balloon, Th...|01-Jan-1995|   |http://us.imdb.co...|  0|  0|  0|  0|  0|  0|  0|  0|  1|  0|  0|  0|  0|  0|  0|  0|  0|  0|0\n|
| 19|Antonia's Line (1...|01-Jan-1995|   |http://us.imdb.co...|  0|  0|  0|  0|  0|  0|  0|  0|  1|  0|  0|  0|  0|  0|  0|  0|  0|  0|0\n|
| 20|Angels and Insect...|01-Jan-1995|   |http://us.imdb.co...|  0|  0|  0|  0|  0|  0|  0|  0|  1|  0|  0|  0|  0|  0|  1|  0|  0|  0|0\n|
+---+--------------------+-----------+---+--------------------+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+
only showing top 20 rows

In [ ]:
!pip install chardet

Requirement already satisfied: chardet in /usr/local/lib/python3.10/dist-packages (5.2.0)

In [ ]:
# Print the DataFrame
df1.show()

+--------------------+
|                  _1|
+--------------------+
|1|Toy Story (1995...|
|2|GoldenEye (1995...|
|3|Four Rooms (199...|
|4|Get Shorty (199...|
|5|Copycat (1995)|...|
|6|Shanghai Triad ...|
|7|Twelve Monkeys ...|
|8|Babe (1995)|01-...|
|9|Dead Man Walkin...|
|10|Richard III (1...|
|11|Seven (Se7en) ...|
|12|Usual Suspects...|
|13|Mighty Aphrodi...|
|14|Postino, Il (1...|
|15|Mr. Holland's ...|
|16|French Twist (...|
|17|From Dusk Till...|
|18|White Balloon,...|
|19|Antonia's Line...|
|20|Angels and Ins...|
+--------------------+
only showing top 20 rows